{% extends './base.html' %}


{% block content %}
  <h2>Welcome, {{ user.username }}!</h2>
  <!-- Add any other content or actions relevant to the user's dashboard -->
  
  {% if user.is_authenticated%}

    <div class="counter">
      <a style="text-decoration:none;" href="{% url 'task_list' %}">
        <div class="counter-container">
        <p class="count" style="padding:0; font-size:25px;color:blue;">{{tasks.count}}</p>
        <p class="count" style="padding:0; font-size:20px;color:orange;">My Tasks</p>
        </div>
      </a>
    </div>
  {% endif %}

 
{% endblock %}