/* static/css/style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.form {
    max-width: 400px;
    margin: auto;
}

form {
    padding-bottom: 20px;
}

.register_link {
    padding-top: 10px !important;
}

label {
    display: block;
    margin-bottom: 5px;
}

input,
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

/* static/css/style.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.dashboard-container {
    display: flex;
}

.dashboard-sidebar {
    width: 200px;
    background-color: #f0f0f0;
    padding: 20px;
}

.dashboard-content {
    flex-grow: 1;
    padding: 20px;
}


.container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

nav {
    background-color: #333;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.content {
    padding: 20px;
}

.task-container {
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 20px;
    border-bottom: 3px solid orange;
    border-radius: 8px;
}

.container-create_btn {
    padding: 30px 0;
    width: 100%;
    text-align: end;
}


.active:hover {
    text-decoration: underline;
}

.index-list {
    padding: 8px 0;
    cursor: pointer;
}

.action-buttons {
    text-align: center;
    padding: 30px 0;
}

.action-buttons a {
    text-decoration: none;
    font-weight: bold;
    padding: 10px 50px;
}

.action-buttons #login {
    background: rgb(16, 104, 219);
    outline: 2px solid rgb(67, 171, 240);
    border-radius: 5px;
    margin-right: 10px;
    color: white;
}

.action-buttons #login:hover {
    background: rgb(67, 171, 240);
    color: white;
}

.action-buttons #register {
    background: transparent;
    outline: 2px solid orange;
    margin-left: 10px;
    color: rgb(16, 104, 219);
    border-radius: 5px;
}

.action-buttons #register:hover {
    background: orange;
    color: white;
}

.counter {
    padding: 50px 0;
}

.counter-container {
    width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px gray;
    text-align: center;
    border-bottom: 3px solid orange;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    /* Box shadow with blur effect */
}


.create_btn {
    padding: 10px 0;
}

.task-actions {
    padding-top: 10px;
}


.task-actions a {
    margin-right: 10px;
    text-decoration: none;
    color: #333;
}

.task-actions #delete {
    color: red;
    margin-left: 20px;
}

.task-actions a:hover {
    color: #4CAF50;
}

.container-create_btn #btn {
    text-decoration: none;
    background: rgb(20, 94, 233);
    color: white;
    padding: 10px 8px;
    border-radius: 5px;
}

.in-progress {
    color: orange;
}

.completed {
    color: green;
}

.pending {
    color: red;
}